# Python-specific ignores
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Logs and databases
*.log
*.sqlite3

# Operating System files
.DS_Store
Thumbs.db

# Project-specific ignore files
*.tmp
*.bak
